.hero {
  padding: 26px 0 12px;
  position: relative;
  margin-bottom: 200px;

  &__greeting {
    width: 50%;
    margin: 105px 0 120px;
  }

  &__pic {
    position: absolute;
    bottom: 0;
    right: -85px;
  }
}