.newcomer {
  margin-bottom: 200px;

  &__container {
    display: flex;
  }
  
  &__title-block {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-right: 24px;
  }

  &__title {
    margin-bottom: 29px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__list {
    width: 49%;
    display: grid;
    grid-gap: 50px 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}