.greeting
  h1.greeting__title Awesome tools for Designer & Developer
    span.greeting__title-end .
  p(class="greeting__text app-text") Antool is a web collection of information on paid or <br/> free Design and Development tools
  .greeting__search
    include app-input
    +app-input('search', 'find more than 430+ tools...', 'search')